	/*basic utilities*/
	*{
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
	}
	body {
		font-family: Garamond, serif;
		overflow-x: hidden !important;
	/*  font-family: 'Macando', cursive; */
	}
	a { text-decoration: none; 
	}
	li {
	 list-style: none;
	}
	.cursor {
	  cursor:url(mouse2.png), auto;
	}
	
		/* NAVBAR STYLING STARTS */
	.navbar { /*parent container for nav */
		background-color: black;
		opacity: 1;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		font-size: 10 px;
		display: flex;
		padding: 1px 1px;
		flex-flow: row nowrap; /*how the children boxes will be placed -->, all children will stay on one line  */
		justify-content: space-around;
	/* 	text-align: center; */
	/* 	flex-flow: row wrap; */
		align-items: center; 
	/* 	align-self: flex-end; */
	/* 	padding: 1px 10px; */
		
	/*  	background-color: aliceblue; /*placeholder--to test */ 
	/* 	color: floralwhite; */
	}

	.nav-links nl {
	 color: white;
	}
	/* LOGO */
	.logo {
	display:flex;
	justify-items: center;
	align-self: flex-start;
	flex-shrink: 3;
	padding-left: 50px;
	/* image: clearPaintifyLogo.png */
	/* overflow; */
	}
	/* NAVBAR MENU */
	.menu {
	 display: flex;	
	 order: revert-layer;
	 justify-items: center;
	/*  padding-right: 10 px; */
	 align-self: flex-end;
	 gap: 4em; /*gap beteween both boxes*/
	 font-size: 30px;
	}
	.menu ml:hover {
	 background-color: rebeccapurple;
	 border-radius: 5px;
	 transition: 0.10s ease;
	}
	.menu li { /*nav bars section size */
	 padding: 100px 14px;
	}
	
/* 	.sticky {
	  position: fixed;
	  top: 0;
	  width: 100%;
	}
	.sticky + .content {
	  padding-top: 60px;
	} */
	
  .hero-section {
		padding-top: 100px;
		/* top padding: 150px; */
		padding-left: 50px;
		padding-bottom: 100px;
	}
	.welcome { 
		display:flex;
		justify-content: flex-end;
/* 		align items: center; */
		flex-flow: column wrap;
		background-color: lightblue;
	/* 	background-color: lightblue; */
/* 		top-padding: 75px; */
	/*	padding-left: 50px */
	/* 	height:400px; */
	/* 	padding: 100px 100px; */
	/* 	height: 700px; */
	}
	.rotate {
    position: absolute;
/* 		help position the pallett */
		bottom: 10%;
/*     top: 40%;  */
    right: 5%;
/* 		left: 0%; */
	  animation: rotation 8s infinite linear;
	}	
	@keyframes rotation {
	  from {
	    transform: rotate(0deg);
	  }
	  to {
	    transform: rotate(359deg);
	  }
	}
	.welcome logo {
		display:flex;
		padding:102px, 12 px;
    position: relative;
	}	
	.welcome pallet{
/* 		display: flex; */
	/* 	flex-direction: r; */
		justify-content: flex-end;
		align-self: center;
	}
	.games {
/* 	background: var(--background-secondary); */
	
	 background: linear-gradient(to bottom, skyblue, #74ABE2,  mediumpurple, purple);
		background: peachpuff, mediumpurple, purple, purple, #5563DE ;
	display: flex;
/* 	align-items: center; */
	flex-direction: column;
	column-gap: 50px; /*doesnt work?*/
/* 	margin-top: 50px; */
/* 	background-size: cover; */
}

.gamesIntro {
	display:flex;
	align-items: center;
	flex-direction:column;
}

.games .container {
	background: yellow;
	border-radius: 25px;
	
	margin-bottom: 50px;
/* 	border-radius: 25px; */
	justify-content: flex-start;
/* 	background:cadetblue;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 50px;
	margin-top: 50px;
	background-size: cover; */
}

.games .container .inner {
	background: orange;
	border-radius: 25px;
	display: flex;
	gap: 50px;
	margin-right: auto;
}

.games .container .inner .game {
	background-color:white;
/* 	padding: 1px;  */
/* 	paddng-bottom: 50px; */
	border-radius: 25px;
	width: 200px;
	height: 200px;
/* 	background: var(--background-primary); */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 10px;
	box-shadow: 2px 2px 20px rgba(0 0 0 / 10%);
	transition: 0.8s;
	top: 0;
	position: relative;
}

.games .container .inner .service:hover {
	box-shadow: 2px 2px 20px rgba(0 0 0 / 20%);
	top: -10px;
}

.games button {
	margin-top: 50px;
	margin-bottom: 50px;
/* 	margin-left: 100px; */
}

.arrangeBoxes{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 10px; /*works*/
/* 			top padding: 150px; */
/* 		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 100px; */
	
}

/* test */

/*endtest*/
